body{
    margin: 0;
    padding: 0;
}
/* header*/
.header{
    display: flex;
    justify-content: space-around;
    background-color:#d5cec2 ;
    padding: 20px;
    padding-left: 0px;
    font-size: 25px;
    color: black;
    font-family:  'Abel', sans-serif;  
}
.header a:hover {
    text-decoration: none; 
    color: grey;   
}
.header a {
    color: black;
    text-decoration: none;
}
#logo img{
    width: 70px;
}

.dropbtn {
    background-color: #d5cec2;
    color: black;
    padding: 0px;
    font-size: 25px;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
#logo,#main, #catalog, #info,  #contacs{
    cursor: pointer;
}

/*main*/
.main{
    background-color: #5f706c ;
    height: 670px;   


}

#img1{
    height: 400px;
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
    border: #d5cec2 3px solid;
}
#img0{
    position: absolute;
    margin-left: 700px;
    width: 120px;
}
#img00{
    position: absolute;
    margin-left: 700px;
    margin-top: 170px;
    width: 120px;
}
#img000{
    position: absolute;
    margin-left: 700px;
    margin-top: 340px;
    width: 120px;
}
#img0000{
    position: absolute;
    margin-left: 700px;
    margin-top: 510px;
    width: 120px;
}
#img2{
    height: 170px;
    position: absolute;
    margin-left: 400px;
    margin-top: 120px;
    border: #d5cec2 3px solid;
}
#img3{
    height: 180px;
    position: absolute;
    margin-left: 400px;
    margin-top: 305px;
    border: #d5cec2 3px solid;
}
.main h1{
    position: absolute;
    margin-left: 900px;
    margin-top: 150px;
    font-weight: normal;
    font-family:'Abel', sans-serif;
    font-size: 20px;
    border-bottom: #5f706c 3px solid;
}
.main h2{
    position: absolute;
    margin-left: 860px;
    margin-top: 180px;
    font-weight: normal;
    font-family:'Abel', sans-serif;
    font-size: 20px;
}
#square {
    height: 250px;
    width: 450px;
    margin-left: 900px;
    margin-top: 200px;
    position: absolute;
    background: #e9e4dd ;
    
}
#square2 {
    height: 250px;
    width: 450px;
    margin-left: 850px;
    margin-top: 150px;
    position: absolute;
    background: rgb(209, 209, 199);
}


.nav{
    float: left;
    display: none;
    
}
label{
    margin: 8px 0 0 20px ;
    font-size: 25px;
    display: none;
    
}
#toggle{
    display: none;
}
.end{
    
    background-color: rgb(207, 204, 204);
    height: 200px;
}
.end h1{
    font-family:'Abel', sans-serif;
    margin-top: 0px;
    text-align: center;
}
.part5 img{
    margin-top: 50px;
    width: 80px;
    height: 80px;
    position: absolute; 
    margin-left: 25%;
}
.part1 img{
    margin-top: 50px;
    width: 80px;
    height: 80px;
    position: absolute; 
    margin-left: 35%;
}
.part2 img{
    margin-top: 50px;
    width: 80px;
    height: 80px;
    position: absolute; 
    margin-left: 45%;
}
.part3 img{
    margin-top: 50px;
    width: 80px;
    height: 80px;
    position: absolute; 
    margin-left: 55%;
}
.part4 img{
    margin-top: 50px;
    width: 80px;
    height: 80px;
    position: absolute; 
    margin-left: 65%;
}
@media (max-width: 1000px){
    body{
        background-color:rgba(198,172,162,255);
        
    }
    
    .items{
        margin: 0 auto;
    }
    .nav{
        display: inline-block;
    }
    label{
        display: block;
        cursor: pointer;
    }
    .header{
        display: block;
        text-align: center;
        padding-top: 6px;
        padding-left: 100px;
        font-size: 25px;
    }
    .header div{
        border-top: 1px solid white;
        padding: 10px 0;
        cursor: pointer;
    }
    #toggle:checked + .header{
        display: none;
    }

    #img1{
        width:220px;
        height: 270px;
        position: absolute;
        margin-left: 20px;
        margin-top: 50px;
        border: #d5cec2 3px solid;
    }
    #img2{
        height: 130px;
        position: absolute;
        margin-left: 250px;
        margin-top: 50px;
        border: #d5cec2 3px solid;
    }
    #img3{
        height: 125px;
        width:185px;
        position: absolute;
        margin-left: 250px;
        margin-top: 195px;
        border: #d5cec2 3px solid;
    }

    #img0{
        display: none;
    }
    #img00{
        display: none;
    }   
    #img000{
        display: none;
    }
    #img0000{
        display: none;
    }
    
    #square {
        height: 200px;
        width: 400px;
        margin-left: 80px;
        margin-top: 420px;
        position: absolute;
        background: #e9e4dd ;
        
    }
    #square2 {
        height: 200px;
        width: 400px;
        margin-left: 65px;
        margin-top: 370px;
        position: absolute;
        background: rgb(209, 209, 199);
    }
    .main h1{
        position: absolute;
        margin-left: 75px;
        margin-top: 380px;
        font-weight: normal;
        font-family:'Abel', sans-serif;
        font-size: 15px;
    }
    .main h2{
        position: absolute;
        margin-left: 75px;
        margin-top: 415px;
        font-weight: normal;
        font-family:'Abel', sans-serif;
        font-size: 17px;

    }
    
    .part5 img{
        margin-top: 50px;
        width: 80px;
        height: 80px;
        position: absolute; 
        margin-left: 25%;
    }
    .part1 img{
        margin-top: 50px;
        width: 80px;
        height: 80px;
        position: absolute; 
        margin-left: 83%;
    }
    .part2 img{
        margin-top: 50px;
        width: 80px;
        height: 80px;
        position: absolute; 
        margin-left: 5%;
    }
    .part3 img{
        margin-top: 50px;
        width: 80px;
        height: 80px;
        position: absolute; 
        margin-left: 45%;
    }
    .part4 img{
        margin-top: 50px;
        width: 80px;
        height: 80px;
        position: absolute; 
        margin-left: 65%;
    }

    
}











